{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.changePassword'|trans }}
{% endblock title %}

{% block body %}
    <div class="container container-fix">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn btn-red" type="submit">{{ 'button.changePassword'|trans }}</button>
        {{ form_end(form) }}
    </div>
{% endblock body %}