{% extends 'base.html.twig' %}

{% block title %}
    {{ article.title }}
{% endblock %}

{% block body %}
    <div class="container container-article container-fix">
        <h1 class="article">{{ article.title }}</h1>
        <span class="author">{{ article.getAuthor().username }}</span>
        <hr>
        {% if article is defined and article|length %}
            {% for paragraph in article.getParagraphs() %}
                <div class="row paragraph">
                    <h5>{{ paragraph.subheading }}
                    {% if app.user and app.user == article.getAuthor() %}
                        <a class="paragraph-action" href="{{ path('article_edit_paragraph', { 'id': article.id, 'paragraph': paragraph.id }) }}">{{ 'action.edit'|trans }}</a>
                        <a class="paragraph-action" href="{{ path('article_delete_paragraph', { 'id': article.id, 'paragraph': paragraph.id }) }}">{{ 'action.delete'|trans }}</a>
                    {% endif %}
                    </h5></h5>
                    <div class="col">
                        <p class="float-left">{{ paragraph.textContent }}</p>
                    </div>
                    {% if not paragraph.getPicture() is empty %}
                        <figure class="figure float-right align-self-center">
                            <img class="figure-img img-fluid" src="{{ asset('images/article/' ~ paragraph.getPicture().src) }}" alt="{{ article.title }}"/>
                            <figcaption class="figure-caption text-center">{{ paragraph.getPicture().description }}</figcaption>
                        </figure>
                    {% endif %}
                </div>
            {% endfor %}
            {% if app.user and app.user == article.getAuthor() %}
                <a class="btn btn-red" href="{{ path('article_add_paragraph', { 'id': article.id }) }}">{{ 'button.add_paragraph' }}</a>
            {% endif %}
            <hr>
        {% else %}
            <p>
                {{ 'message.item_not_found'|trans }}
            </p>
        {% endif %}
    </div>
    <div class="container comments">
        <h2>{{ 'heading.comments'|trans }}</h2>
        <a class="btn btn-red" href="{{ article.id ~ '/add-comment' }}">{{ 'button.add_comment'|trans }}</a>
        <hr>
        {% if article.getComments()|length %}
                {% for comment in article.getComments() %}
                    <div class="row">
                        <div class="col">
                            <h6 class="author-comment">{{ comment.getAuthor().username }}</h6>
                            <span class="date">{{ comment.getCreatedAt()|localizeddate }}</span>
                            <p>{{ comment.getContent() }}</p>
                        </div>
                    </div>
                {% endfor %}
        {% endif %}
    </div>
{% endblock %}