<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{{ 'title.welcome'|trans }}{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Raleway" />
        <link rel="stylesheet" href="{{ asset('css/main.css') }}">
    {% endblock %}
</head>
<body>
<nav class="navbar navbar-expand-lg">
    <a class="navbar-brand felupedia" href="/"><span>felu</span>pedia</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{{ url("article_index") }}">{{ 'navbar.articles'|trans }}<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                {% if is_granted('ROLE_ADMIN') %}
                <a class="nav-link" href="{{ url("admin_index") }}">{{ 'navbar.admin'|trans }}</a>
                {% endif %}
            </li>
        </ul>
        {% if app.user %}
        <a class="nav-link" href="{{ url("article_new") }}">{{ 'navbar.new_article'|trans }}</a>
        <span class="nav-annotation">{{ 'navbar.logged_as'|trans }}:</span>
        <a class="nav-link nav-user" href="{{ path("profile_view", {id: app.user.getId()}) }}">{{ app.user.getUsername() }}</a>
        <a class="btn btn-red" href="{{ url("security_logout") }}">{{ 'button.logout'|trans }}</a>
        {% else %}
        <a class="btn btn-red" href="{{ url("security_login") }}">{{ 'button.login'|trans }}</a>
        <a class="btn btn-red" href="{{ url("security_register") }}">{{ 'button.register'|trans }}</a>
        {% endif %}
    </div>
</nav>
<div class="container-fluid">
    {% include 'default/_flash_messages.html.twig' %}
</div>
{% block body %}{% endblock %}
{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
{% endblock %}
    <div class="footer-wrapper flex">
        <footer class="container-fluid">
            <div class="row justify-content-center">
                <p>Felupedia - projekt uczelniany na zajęcia "System interakcyjny - projekt" - Karolina Feluś</p>
            </div>
        </footer>
    </div>
</body>
</html>